.HammerBox {
	width: 100%;
	height: 200px;
	margin: 20px;
}

.HammerBox div {
  height: 100px;
  width: 100px;
  text-align: center;
  color: #fff;
  background-color: #000;
  margin: 0 auto;
  vertical-align: middle;	
}